body {

    width: auto;
    height: auto;
}
.container {
    display: flex;
    justify-content: space-between;
}

.cards{
    width: 300px;
    height: 140px;
    border: 1px solid black;
    border-radius: 7px;
    box-shadow: 20px;
}

.avatar {

    width: 40px;
    height: 40px;
    border-radius: 100%;
}

img {
    padding: 15px 15px;
   
}

#floatedText {
    float: right;
    margin-right: 80px;

}

.cardTitle {

    font-weight: 800;
}

.cardInfo {
    color: #6b6b6b;
    font-weight: 500;
}


.cardLink {
    
    margin-top: 30px;
    margin-left: 20px;
   
}
.navigate {

    /* display: flex; */

}

.navigateTwo {
    /* justify-content: space-between; */
}





.arrow {
    margin-left: 200px;
    width: 30px;
    height: 30px;
    
}
